@import 'tailwindcss';


.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Work Sans', system-ui, sans-serif;
  background-color: #fbfcfd;
  color: #000;
}
